body {
  margin: 0;
  font-family: safaricom_montserrat,sans-serif;
}


.topnav {
  overflow: hidden;
  width: 100%;
  background-color: #39B54A;
   
  
 
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 15px;
}
.topnav a:hover {
  background-color: white;
  color: green;
}

.topnav a.active {
  background-color: green;
  color: white;
}
.topnav a.active:hover {
  background-color: white;
  color: green;
}

.topnav-right {
  float: right;
}

.nav_2 {
  overflow: hidden;
  background-color: white;
  
 



}
.nav_2 a {
  float: left;
  margin: 5px;
  color: black;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 18px;
  font-family:raleway
}
.nav_2 a:hover {
  background-color: white;
  color: green;
}

.nav_2 a.active {
  background-color: white;
  color: black;
}
.nav_2 a.active:hover {
  background-color: white;
  color: green;
}

.nav_2-right {
  float: right;
}
.nav_2 input[type=text] {

  border: 1px solid red;
  border-radius: 12px;
  padding: 8px 30px;
  margin: 5px;
  font-size: 15px;
  position: relative;
}
.nav_2 .image img{
	width: 30px;
	height: 30px;
	position: relative;
	 padding: 0px 18px;
	 margin: 0px;
}
.nav-right {
  float: right;
}
.nav-right a{
	padding: 10px 50px 30px 10px;
	font-size: 30px;

}

.nav-right img{
	height: 40px;
	width: 40px;
	border-radius: 50%;

}
.content{
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	 flex-direction: row;
	justify-content: space-between;
}
.container{
	display: grid;
}

.container_content{
	width: 280px;
	height: 30px;
	font-size: 20px;
	text-align: left;
	font-family: safaricom_montserrat,sans-serif;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
	text-align: center;
	margin: 20px;
	padding: 10px;

}
.fa-arrow-right{
	margin-left: 160px;
	color: black;
	text-align: right;

}
.container_content a{
	text-decoration: none;
}
#services,#bonga,#tools,#promo,#service,#enter{
	color: green;
}
P{
	font-size: 10px;
}
.footer_1{
	display: flex;
	justify-content: center;
	background: grey;
	padding: 5px;
	color: #f6f6f6;
	font-family: safaricom_montserrat,sans-serif;
}
.footer_content{
	padding: 5px;
	margin: 10px;

}

.footer{
	display: flex;
	justify-content: center;
	background: #333333;
	
	color: white;
	
}
h4{
	padding: 10px;
	margin: 10px;
	font-size: 13px;

}
.main_footer_content{
	display: block;
}
.main_footer_content a{
	text-decoration: none;
	color: white;
	font-size: 20px;
}
.footer_headings{
	font-size: 15px;
}.fa-sort-down{
	color: red;
}




